{% extends 'web/base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'sites' %}">Сайты</a>
            </li>
            {% if object %}
                <li class="breadcrumb-item">
                    <a href="{% url 'site' object.id %}">{{ object.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Добавление</li>
            {% endif %}
        </ol>
    </nav>
    <h1>
        {% if not object %}Добавить{% else %}Обновить{% endif %} сайт
    </h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">
            {% if not object %}Добавить{% else %}Сохранить{% endif %} сайт
        </button>
    </form>
{% endblock %}
