* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "myfont", "Roboto", "Times New Roman" ;
}

.times {
    font-family: "Times New Roman";
}

.my-paragraph {
    font-size: 20px;
    text-align: justify;

    padding: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 15px;
    margin-top: 30px;

    position: relative;
    display: block;
    height: 1000px;
}
.my-paragraph b {
    color: green;
}
#heading1 {
    text-decoration: underline;
}

img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 10px;
}

.col {
    width: 50%;
    float: left;
}
