{% extends 'web/base.html' %}
{% block title %}Telegram-аккаунт подключен{% endblock %}
{% block content %}
    <h1>Telegram-аккаунт подключен</h1>
    <a href="{% url 'main' %}" class="btn btn-outline-primary">Перейти на главную страницу</a>
{% endblock %}
